<main>
  <h1>Detalles del producto</h1>
  <div id="productList">
    <table id="product_table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Imagen</th>
          <th>Código</th>
          <th>Stock</th>
          <th>Categoría</th>
          <th>Agregar al carrito</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{product.title}}</td>
          <td> {{product.description}}</td>
          <td> $ {{product.price}}</td>
          <td id="product_table_img"><img class="product-thumbnail" src="{{product.thumbnail}}"></td>
          <td> {{product.code}}</td>
          <td> {{product.stock}}</td>
          <td> {{product.category}}</td>
          <td><button onclick="add('{{product._id}}',1)">✓</button></td>
        </tr>
      </tbody>
    </table>
  </div>

 <script>
      async function add(pid, quantity) {
        try {
          const response = await fetch('/api/carts/add', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ pid, quantity })
          });

          const data = await response.json();

          if (response.ok) {
            Swal.fire({
              icon: 'success',
              title: 'Éxito',
              text: 'Producto agregado al carrito exitosamente',
              showCancelButton: true,
              confirmButtonText: 'Ir al carrito',
              cancelButtonText: 'Seguir comprando',
              reverseButtons: true
            }).then((result) => {
              if (result.isConfirmed) {
                window.location.href = '/cart'; // Redirige al carrito
              } else if (result.dismiss === Swal.DismissReason.cancel) {
                window.location.href = '/products'; // Redirige a la página de productos
              }
            });
          } else if (response.status === 400 && data.message === 'No puedes agregar tu propio producto al carrito.') {
            Swal.fire({
              icon: 'error',
              title: 'Error',
              text: 'No puedes agregar tu propio producto al carrito.'
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Error',
              text: 'Ocurrió un error al agregar el producto al carrito.'
            });
          }
        } catch (error) {
          console.error(error);
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Error interno del servidor al agregar el producto al carrito'
          });
        }
      }
    </script>

</main>